<style type='text/scss'>
  h3{
    text-align: center;
  }
  .info{
    width: 200px;
    border: 1px solid black;
    margin: 0 auto;
  }
.info {
  color: blue;
  padding: 10px;
}

.info-important {
  @extend .info;
  background-color: magenta;
}




</style>
